.page-container {
  max-width: 1280px;
  margin: auto;
  padding: 0 200px 0 40px;
  .info-section {
    display: flex;
    justify-content: space-between;
  }
}

@media only screen and (max-width: 680px) {
  .page-container {
    .info-section {
      flex-direction: column;
      gap: 12px;
    }
  }
}